<div class="text-center category-box bookmark" data-page="<%= page.id %>">
  <% image = page.img.slide.url ? page.img.slide.url : 'assets/no_image.jpg' %>
  <% slug = page.slug ? page.slug : page.id %>

  <a href="<%= slug %>" target="_blank">
    <div class="img-wrapper">
      <img src="<%= image %>" alt="" class="img-responsive">
    </div>
  </a>

  <a href="<%= slug %>" target="_blank" class="name"><%= page.title %></a>

  <div class="project-info text-left">
    <p class="item-desc"><%= page.description.html_safe %></p>
  </div>

  <div class="remove-bookmark">
    <i class="fa fa-times-circle-o"></i>
  </div>

  <div class="email-bookmark">
    <i class="fa fa-envelope-o"></i>
  </div>
</div>