<div id="share" class="modal modal-static" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" style="width: 300px;">
    <div class="modal-content">
      <div class="modal-header">
        <b>Share with social network</b>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body text-left">

        <ul class="list-unstyled" style="margin-left: 33%;">
          <li class="mb-5"><%= twitter_button %></li>
          <li class="mb-10"><%= facebook_button %></li>
          <li class="mb-5"><%= linkedin_button %></li>
          <li class="mb-5"><%= google_plus_button %></li>
          <li><%= reddit_button %></li>
        </ul>

      </div>
    </div>
  </div>
</div>